.container {
	padding: 0 20px;
	max-width: 700px;
	margin: 0 auto;
	line-height: 1.5;
}

.container h1 {
	font-size: 32px;
}

.name {
	font-size: 36px;
}

.back {
	display: inline-block;
	margin-bottom: 20px;
}

.bold {
	font-weight: bold;
}

.code {
	font-family: monospace;
	background-color: rgb(242, 242, 242);
	padding: 2px 4px;
	border-radius: 2px;
}

.italic {
	font-style: italic;
}

.strikethrough {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}
